@font-face {
    font-family: 'Work Sans';
    src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Rock Salt';
    src: url(./fonts/RockSalt-Regular.ttf);
}
body {
    font-family: 'Work Sans';
    background-color: #afd8f9;
}
h1 {
    font-size: 44px;
    color: #000000;
    margin: auto;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 0 auto;
    padding: 1.5em;
    font-size: 30px;
}
h3 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}
header {
    font-family: 'Rock Salt';
    background-image: url(./images/banner.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-width: 2px;
    border-color: #2b2b2b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li {
    color: #cfedf8;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 25px;
}
.nav-bar {
    background-color: #2b2b2b;
    width: 100%;
    position: static;
    text-align: center;
    border-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-bar table {
    width: 90%;
    margin: auto;
    text-align: center;
}
.nav-bar table tr td {
    width: 22%;
    border-width: 2px;
    border-color: #2b2b2b;
}
.nav-bar table tr td:hover {
    background-color: #393939;
}
a:visited {
    color: #add8e6;
    text-decoration: none;
}
a {
    color: #add8e6;
    font-size: x-large;
    text-decoration: none;
}
.contact-us {
    margin: auto;
    text-align: right;
    width: 60%;
    background-color: #2b2b2b;
    border-radius: 10px;
    border-color: #2b2b2b;
}
.contact-us tr td {
    padding: 3%;
    color: #cfedf8;
}
input {
    float: left;
}
#submit {
    float: unset;
    margin: 0 auto;
}
.author {
    font-size: small;
    color: #c1f0c6;
    text-align: right;
    position: absolute;
    right: 1em;
    top: 1em;
    font-family: 'Work Sans';
}
.performances {
    width: 100%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    border: none;
}
.performances tr:first-child {
    background-color: #afd8f9;
}
.performances tr {
    background-color: #FFF;
}
.performances tr:nth-child(2n) {
    background-color: #dcdcdc;
}
.performance-cell {
    border-color: #2b2b2b;
    border-style: solid;
    border-width: 8px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 2em;
    padding-bottom: 2em;
}
.band-logo {
    margin: 0 auto;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
}
.bio {
    color: #cfedf8;
    background-color: #2b2b2b;
    display: flex;
    border-color: #2b2b2b;
    border-width: 2px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 50px 10px;
}
@media screen and (max-width: 600px) {
    .band-logo {
        width: 65%;
    }
    a {
        font-size: medium;
    }
    .contact-us {
        width: 90%;
    }
    .bio {
        font-size: 14px;
        padding: 20px 10px 20px 10px;
    }
    .bio-pic {
        width: 150px;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
    .band-logo {
        width: 50%;
    }
    a {
        font-size: large;
    }
    .contact-us {
        width: 75%;
    }
    .bio {
        font-size: 18px;
    }
    .bio-pic {
        width: 230px;
    }
}

@media screen and (min-width: 900px) {
    .band-logo { 
        width: 40%;
    }
    .bio {
        font-size: 18px;
    }
}